@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1,h2,h3,h4{
        @apply text-very-dark-blue;
        font-weight: 700;
    }

    h2{
        @apply text-4xl;
    }

    h3{
        @apply text-xl;
    }

    body{
        font-size: 0.938rem;
        line-height: 1.7;
        @apply text-dark-grayish-blue;
        @apply bg-off-white;
    }

    .container{
        @apply mx-auto;
        @apply px-4;
        max-width:1142px !important;
    }

    .btn{
        @apply bg-soft-red;
        padding: 15px 30px;
        @apply text-off-white;
        line-height: 1.2;
        letter-spacing: 0.25rem;
        @apply uppercase;
        font-weight: 400;
        @apply inline-block;
        @apply transition-colors;
    }

    .btn:hover{
        @apply bg-very-dark-blue;
    }
}

.menu-wrap.active{
    @apply w-3/4;
    @apply visible;
    @apply bg-off-white;
    z-index: 9;
}

.overlay.active{
    z-index: 5;
    background-color: hsl(240deg 100% 5% / 60%);
}